body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
}
div[class="container1"],
div[class="container2"] {
  float: left;
}
/* div[class="container1"] {
    margin-left: 5%;
  } */
div[class="container2"] {
  overflow: hidden;
  /* margin-left: 20%; */
  /* display: block; */
  /* position: absolute; */
  word-wrap: break-word;
  padding: 40px;
}
img {
  width: 350px;
  height: 350px;
  margin-top: 30px;
}
